.logo-container {
  z-index: 0;
  width: 800px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 1%;
  bottom: 80%;
  left: auto;
  margin: auto;
  opacity: 0;

  svg {
    width: 1000px;
    height: 800px;
    bottom: 0;
  }

  .solid-logo {
    position: absolute;
    top: 48%;
    right: 70px;
    bottom: auto;
    left: 0;
    margin: auto;
    height: 500px;
    width: 390px;
    opacity: 0;
    z-index: 1;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}
