.logo-container {
  z-index: -1;
  // width: 800px;
  width: 90%;
  // height: 609px;
  height: 90%;
  position: absolute;
  top: 0;
  right: 0%;
  max-width: 800px;
  bottom: 80%;
  // left: auto;
  left: 50%;
  margin: auto;
  animation: display-image 4s ease-in-out forwards;

  svg {
    width: 1000px;
    // width: 50%;
    height: 800px;
    bottom: 0;
  }

  .solid-logo {
    position: absolute;
    top: 48%;
    right: 70px;
    bottom: auto;
    left: 0;
    margin: auto;
    // height: 500px;
    height: 82%;
    // width: 390px;
    width: 49%;
    z-index: 1;
  }
}

.svg-container {
  stroke: #ffd700;
  stroke-width: 10;
}

@keyframes display-image {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
